:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: #222;
  background-color: #e5eaee;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.main {
  padding: 1rem;
}
.cabecera__h1 {
  padding: 2rem;
  text-align: center;
  font-size: 2rem;
}

@media only screen and (min-width: 750px) {
  .cabecera__h1 {
    font-size: 2.5rem;
  }
}

.listado-personajes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 450px));
  gap: 2rem;
  justify-content: center;
  margin-bottom: 5rem;
}
@media only screen and (min-width: 750px) {
  .listado-personajes {
    padding: 0 1rem;
  }
}

.listado-personajes > article {
  padding: 2.5rem;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  border-radius: 15px;
  background-color: #fff;
  display: grid;
  grid-template-rows: 400px auto;
  row-gap: 0.5rem;
}

.listado-personajes > article > ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.imagen {
  width: 270px;
  height: 350px;
  object-fit: contain;
  align-self: center;
  justify-self: center;
}

.categoria {
  font-weight: 900;
}
.categoria::after {
  content: ":";
  margin-right: 0.3rem;
  margin-left: 0.1rem;
}

li:not(:last-child)::after {
  content: ",";
  margin-right: 0.2rem;
}

.buscador {
  display: grid;
  place-items: center;
  padding: 1rem;
  margin-bottom: 3rem;
}

@media only screen and (min-width: 750px) {
  .buscador {
    padding: 3rem;
  }
}

.formulario {
  display: grid;
  grid-template-columns: 25rem;
  grid-template-rows: repeat(2, 1fr);
  row-gap: 0.7rem;
}

@media only screen and (min-width: 750px) {
  .formulario {
    display: grid;
    grid-template-columns: 25rem auto;
    grid-template-rows: 3.5rem;
    column-gap: 0.5rem;
  }
}

.formulario__caja-busqueda {
  all: unset;
  background-color: #fff;
  border: 1px solid #9ede98;
  font-size: 1.5rem;
  padding: 0.5rem;
  color: #0a4b04;
}

.formulario > button {
  all: unset;
  width: 7rem;
  text-align: center;
  font-size: 1.3rem;
  font-weight: bold;
  background-color: #9ede98;
  transition: background 0.3s ease;
  justify-self: center;
}

.formulario > button:hover {
  cursor: pointer;
  background-color: #82cb7c;
}
.formulario > button,
.formulario__caja-busqueda {
  border-radius: 5px;
}
