.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  border-bottom: 5px solid var(--secondary_color);
}

.header-container h1 {
  font-size: 2.2rem;
  font-weight: 500;
}

.header-balance-info {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.header-balance-info > span:last-child {
	font-size: 2rem;
	font-weight: bold;
	color: var(--primary_color)
}
